.you-lose {
  font-size: 3rem;
}

.lose-answer-container {
  width: 50rem;
  display: flex;
  justify-content: center;
}

.lose-box {
  background-color: #3f3f95e7;
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.lose-text {
  font-size: 2rem;
}

.lose-answer {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d5dae6;
}

.boom-pic {
  width: 50rem;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.boom {
  width: 30rem;
}

.loseResetButton {
  font-size: 2rem;
  margin: 20px;
  padding: 20px;
  color: rgb(255, 251, 251);
  box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  border-radius: 8px;
  border: 0px solid transparent;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
}
