/* .you-lose {
  font-size: 2rem;
  text-align: center;
} */

.lose-answer-container {
  width: 50rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.lose-text {
  font-size: 1.5rem;
  text-align: center;
}

.lose-answer {
  font-size: 2rem;
  margin: 0;
  padding: 20px;
  color: #d5dae6;
  background-color: #3f3f95e7;
  text-align: center;
}

.boom-pic {
  max-width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.boom {
  width: 100%;
  max-width: 80%;
}

.loseResetButton {
  font-size: 1rem;
  margin: 20px;
  padding: 20px;
  color: rgb(255, 251, 251);
  box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  border: 0px solid transparent;
  font-weight: 600;
  font-family: inherit;
  background-color: #0c2145;
}

@media (min-width: 640px) {
  /* .you-lose {
    font-size: 2.5rem;
  } */

  .lose-text {
    font-size: 2.5rem;
  }

  .lose-answer {
    font-size: 4rem;
  }

  .boom-pic {
    margin: 25px;
    padding: 2rem;
  }

  .loseResetButton {
    font-size: 2rem;
    padding: 16px;
  }
}
