.tileNumber {
  color: white;
  margin: 7.5px;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  border-radius: 8px;
  border: 0px solid transparent;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
  /* transition: border-color 0.5s; */
}

.tileNumber:hover {
  transform: scale(1.15);
  /* border-color: rgba(46, 58, 77, 0.136); */
}
