.you-win {
  font-size: 3rem;
}

.win-answer-container {
  width: 50rem;
  display: flex;
  justify-content: center;
}

.win-box {
  background-color: #3f3f95e7;
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.win-answer {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d5dae6;
}

.defuse-bomb-text {
  font-size: 1.5rem;
}

.bomb-man {
  width: 200px;
  position: relative;
  animation: wiggle 0.5s infinite;
  transform-origin: center;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

.winResetButton {
  font-size: 2rem;
  margin: 20px;
  padding: 20px;
  color: white;
  box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  border-radius: 8px;
  border: 0px solid transparent;
  font-weight: 600;
  font-family: inherit;
  background-color: #0c2145;
}
