.numberTiles {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, minmax(8px, 1fr));
}

.attempts-text {
  font-size: 1.4rem;
  margin: 15px 0 15px 0;
  /* text-shadow: 3px 3px rgb(205, 215, 227); */
}

@media (min-width: 640px) {
  .numberTiles {
    grid-template-columns: repeat(10, minmax(8px, 1fr));
  }

  .attempts-text {
    font-size: 2.5rem;
  }
}
